<nav id="sidebarMenu"
     class="col-md-10  d-md-block  sidebar collapse">
  <div class="position-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item ">
        <form action="{% url 'tasks:task_list' request.user.username %}"
              method="get">
          <input type="text" name="all_task" value="False" hidden>
          <input type="submit" value="All tasks" class="btn btn-default
          btn-small">
        </form>
      </li>
      <li class="nav-item ">
        <form action="{% url 'tasks:filter' %}" method="get">
          <input type="text" name="done" value="True" hidden>
          <input type="submit" value="Done" class="btn btn-default btn-small">
        </form>
      </li>
      <li class="nav-item">
        <form action="{% url 'tasks:filter' %}" method="get">
          <input type="text" name="soon" value="True" hidden>
          <input type="submit" value="Comming soon" class="btn btn-default
        btn-small">
        </form>
      </li>
      <hr>
      <li class="nav-item">
        <a class="nav-link text-dark" href="{% url 'tasks:create_task' %}">
          Create task
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="{% url 'tasks:create_category' %}">
          Create category
        </a>
      </li>
      <hr>
      {% if categories %}
        <a class="nav-link text-dark"> Category: </a>
        {% for category in categories %}
          <li class="nav-item">
            <a class="nav-link text-dark"
               href="{% url 'tasks:category' category.slug %}">
              - {{ category }}
            </a>
          </li>
        {% endfor %}
      {% endif %}
    </ul>
  </div>
</nav>