{% extends 'base.html' %}
{% block content %}
  <h1>{{ celery }}</h1>
  <div class="row">
    <div class="col-sm-2">
      {% include 'includes/sidebar.html' %}
    </div>
    <div class="col-sm-8 ">
      <div class="container">
        {% for category in categories %}
          <div class="card my-lg-4">
            <div class="card-header">
              Task name: {{ category.name }}
            </div>
            <div class="card-body mb-2 my-lg-4 ">
              <form method="POST" action="
{% url "tasks:delete_category" request.user.username category.slug %}" >
                {% csrf_token %}<input type="submit" value="DELETE" class="btn
                btn-primary
                btn-dark">
              </form>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  </div>
{% endblock %}